<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <!-- Jointure Template 2-->
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/animate/animate.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/simple-line-icons/css/simple-line-icons.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/owl.carousel/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/vendor/owl.carousel/assets/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('FrontEnd/vendor/magnific-popup/magnific-popup.min.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/theme.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/theme-elements.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/demos/demo-seo.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/skins/skin-seo.css')}}">
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/custom1.css')}}">

    <!-- Stylesheets
    ============================================= -->
    <link href="{{asset('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('FrontEnd/style.css')}}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('FrontEnd/css/dark.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/font-icons.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/animate.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('FrontEnd/css/magnific-popup.css')}}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('FrontEnd/css/responsive.css')}}" type="text/css" />

    <!-- Movers Demo Specific Stylesheet -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/colors.php?color=0F66DD')}}" type="text/css" /> <!-- Theme Color -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/demos/movers/css/fonts.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('FrontEnd/demos/movers/movers.css')}}" type="text/css" />
    <!-- / -->

    <!-- DatePicker CSS -->
    <link rel="stylesheet" href="{{ asset('FrontEnd/css/components/datepicker.css')}}" type="text/css" />

    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

    <!-- Document Title
    ============================================= -->
    <title>SparkooL</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="sticky-style-2 dark">

        <div class="container clearfix">

            <!-- Logo
            ============================================= -->
            <div id="logo" class="">
                <a href="index.html" class="standard-logo"><img class="divcenter" src="{{ asset('LogoPrinc.png')}}" alt="SparkooL Logo"></a>
                <a href="index.html" class="retina-logo" ><img class="divcenter" src="{{ asset('LogoPrinc.png')}}" alt="SparkooL Logo"></a>
            </div><!-- #logo end -->

            <ul class="header-extras">
                <li>
                    <i class="i-plain icon-call nomargin"></i>
                    <div class="he-text t400 text-white-50">
                        Call Us:
                        <span><a href="tel:+111 22-33-44" class="text-white t500">+71 xxx-xxx</a></span>
                    </div>
                </li>
                <li>
                    <i class="i-plain icon-line2-envelope nomargin"></i>
                    <div class="he-text t400 text-white-50">
                        Email Us:
                        <span><a href="mailto:info@canvas.com" target="_top" class="text-white t500">SparkooL@gmail.com</a></span>
                    </div>
                </li>

            </ul>

        </div>


        <br>


    </header><!-- #header end -->

    <!-- Slider
    ============================================= -->


    <!-- Content
    ============================================= -->
    {% block body %}
      {% endblock %}
    {% block join %}



    {% endblock %}
    <!-- Footer
    ============================================= -->
    <footer id="footer" class="mt-0" style="background-color: #111c22;">
        <div class="container my-4">
            <div class="row py-5">
                <div class="col-lg-2 align-self-center mb-5 mb-lg-0">
                    <a href="#"></a>
                    <img src="{{ asset('FrontEnd/img/LogoFooter.png')}}" class="img-fluid" alt="Demo SEO" width="100" />
                    </a>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Contact Details</h4>
                    <ul class="list list-unstyled">
                        <li class="d-flex align-items-baseline"><i class="far fa-dot-circle text-color-primary mr-3"></i><div><span class="text-color-light">Address:</span> Street Name, City Name, Tunis</div></li>
                        <li class="d-flex align-items-baseline"><i class="fab fa-whatsapp text-color-primary mr-3"></i><div><span class="text-color-light">Phone:</span> +71 xxx-xxx</div></li>
                        <li class="d-flex align-items-baseline"><i class="far fa-envelope text-color-primary mr-3"></i><div><span class="text-color-light">Email:</span> <a href="mailto:mail@example.com">SparkooL@gmail.com</a></div></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                    <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Navigations</h4>
                    <ul class="list list-unstyled">
                        <li class="mb-1">
                            <a class="link-hover-style-1 active" data-hash data-hash-offset="95" href="#home">Home</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#about">About Us</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#solutions">Program</a>
                        </li>


                        <li class="mb-1">
                            <a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#news">Admission</a>
                        </li>
                        <li class="mb-1">
                            <a class="link-hover-style-1"  data-hash data-hash-offset="95" href="">Reclamation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Newsletter</h4>
                    <p>Enter your email address and get our offers and plans in to your mail.</p>
                    <div class="alert alert-success d-none" id="newsletterSuccess">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>
                    <div class="alert alert-danger d-none" id="newsletterError"></div>
                    <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mw-100">
                        <div class="input-group">
                            <input class="form-control form-control-sm text-color-light custom-bg-color-1 rounded-0 border-0 px-4 text-3" placeholder="Email Address..." name="newsletterEmail" id="newsletterEmail" type="text">
                            <span class="input-group-append">
										<button class="btn btn-primary text-color-light text-2 rounded-0 py-3 px-4" type="submit"><strong>SUBSCRIBE</strong></button>
									</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-copyright footer-copyright-style-2">
            <div class="container py-2">
                <div class="row justify-content-between py-4">
                    <div class="col-auto">
                        <p>© Copyright SparkIT 2020. All Rights Reserved.</p>
                    </div>
                    <div class="col-auto">
                        <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light ml-3">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="{{ asset('FrontEnd/js/jquery.js')}}"></script>
<script src="{{ asset('FrontEnd/js/plugins.js')}}"></script>

<!-- DatePicker JS -->
<script src="{{ asset('FrontEnd/js/components/datepicker.js')}}"></script>

<!-- Footer Scripts
============================================= -->
<script src="{{ asset('FrontEnd/js/functions.js') }}"></script>




</body>
</html>






