{% extends 'base.html.twig' %}

{% block body %}
    <h1>Matieres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coeff</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('matiere_show', { 'id': matiere.id }) }}">{{ matiere.id }}</a></td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coeff }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('matiere_show', { 'id': matiere.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
