{% extends 'base.html.twig' %}
{% block body %}
    <div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>All Classes</h3>

    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Class Routine Area Start Here -->
    <div class="row">
        <div class="col-4-xxxl col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add Class </h3>
                        </div>
                        <br><br>
                    </div>
                    {% block update %}
                        <form class="new-added-form" method="post" novalidate>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row">

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Class Name</label>
                                    {% if form_errors(form.nom)|length <= 0 %}
                                        {{ form_widget (form.nom , {'attr': {'class':'form-control'}}) }}
                                    {% else %}
                                        {{ form_widget (form.nom , {'attr': {'class':'form-control is-invalid'}}) }}
                                        <div class="invalid-feedback">
                                            {{ form_errors(form.nom) }}
                                        </div>
                                    {% endif %}
                                </div>




                                    </div>




                                {{ form_widget(form.Add) }}
                                {{ form_widget(form.Reset) }}
                                {{ form_end(form, {'render_rest': false}) }}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}