{% extends 'base.html.twig' %}
{% block body %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>All Teachers</h3>

        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Teacher Table Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Teachers</h3>
                    </div>
                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">

                        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                            <input id="searchName"  name="searchName" type="text" placeholder="Search by Name ..." class="form-control">
                        </div>
                        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">

                        </div>
                        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">

                        </div>




                    </div>
                </form>





                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;

                        $("#searchName").keyup(function () {
                            var minlength = 1;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#searchResult").html('');


                            if (value.length >= minlength) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "",
                                    data: {
                                        'searchName': value
                                    },
                                    dataType: "text",
                                    success: function (msg) {
                                        //we need to check if the value is the same
                                        if (value === $(that).val()) {
                                            var result = JSON.parse(msg);

                                            $.each(result, function (key, arr) {
                                                $.each(arr, function (id, value) {
                                                    if (key === 'users') {
                                                        if (id !== 'error') {

                                                            var large =
                                                                ' <tr>' +
                                                                '<td> <div class="form-check"> <input type="checkbox" class="form-check-input"> <label class="form-check-label">' + value[0] + '</label> </div> </td>' +

                                                                ' <td>' + value[1] + '</td> ' +
                                                                ' <td>' + value[2] + '</td> ' +
                                                                '<td>' + value[3] + '</td> ' +
                                                                '<td>' + value[4] + '</td> ' +
                                                                '<td>' + value[5] + '</td> ' +
                                                                '<td>' + value[6] + '</td> ' +
                                                                '<td>' + value[7] + '</td>' +

                                                                '</tr> ';
                                                            entitySelector.append(large);
                                                        } else {
                                                            entitySelector.append('<li class="errorLi">' + value + '</li>');

                                                        }
                                                    }

                                                });
                                            });
                                        }
                                    }
                                });
                            }else {location.reload(false);}
                        });

                    });
                </script>


                <div class="table-responsive">
                    <table class="table display data-table text-nowrap" >
                        <thead>

                        <tr>
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkAll">
                                    <label class="form-check-label">ID N°</label>
                                </div>
                            </th>
                            <th>Photo</th>
                            <th>First Name</th>
                            <th>Last Name</th>

                            <th>E-mail</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="searchResult">
                        {% for i in var %}
                            <tr  >
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">


                                        <label class="form-check-label">{{ i.id }}</label>

                                    </div>
                                </td>

                                <td>{{ i.firstName }}</td>
                                <td>{{ i.lastName }}</td>


                                <td>{{ i.email }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                           aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">

                                            <a class="dropdown-item" href="{{ path('addAbs',{'id':i.id }) }}"><i
                                                        class="fas fa-calendar-check text-dark-pastel-green"></i> Add Absence</a>



                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Teacher Table Area End Here -->
        <footer class="footer-wrap-layout1">
            <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
        </footer>
    </div>
    </div>

{% endblock %}
{% block jq %}

{% endblock %}